<template name="mapTools">
  <div class="panel panel-default">
    <div class="panel-heading">Edit Map</div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="cellTerrain">Terreno</label>
          <input type="text" class="form-control" id="cellTerrain" placeholder="Terreno" value="default">
        </div>
        <div class="form-group">
          <label for="cellMovimiento">Movimiento</label>
          <input type="number" class="form-control" id="cellMovimiento" placeholder="Movimiento" min="0" value="1">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="cellBlock"> Bloqueo
          </label>
        </div>

      </form>
    </div>
  </div>
</template>

<template name="charTools">
  <div class="panel panel-default">
    <div class="panel-heading">Opciones de Juego</div>
    <div class="panel-body">
      #MOVER<br>#ORIENTACION
    </div>
  </div>
</template>